:root{
    
    --fuentePrincipal:'Allerta Stencil', sans-serif; 
    --fuenteLogo:'Bungee Inline', cursive;  
    --fuenteSecundaria:'Voltaire', sans-serif;  
    --colorFondo: #222020; 
    --colorPrincipal:#40E3AD;
    --colorSecundario:#F3BE45;
    
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #CCF9DC;
    background-color: #E6F9EC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2380CDA3' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2340C57F'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    
}

*, *::before, * ::after{
    box-sizing: inherit;
}

.header{
    background-image: url(imagenes/header.jpg);
    background-color: rgb(20, 20, 20);
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;

}
.barra{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
}

.logo{
    font-family: var(--fuenteLogo);
    font-size: 3rem;
    color: var(--colorPrincipal);
}
.icono{
    margin-right: 1rem;
    color: var(--colorSecundario);
}

.enlace{
    color: var(--colorSecundario);
    font-size: 2rem;
    text-decoration: none;
    font-family: var(--fuenteSecundaria);
    margin-left: 2rem;
}

.btn-reservar{
    background-color: #40E3AD;
    border: none;
    border-radius: 25px;
    font-size: 3rem;
    font-family: var(--fuenteSecundaria);
    color: #222020;
    padding: 1rem 1.5rem;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.icono2{
    margin-right: 1rem;
}
.titulo{
    text-align: center;
    margin-top: 4rem;
    
    
}
.titulo :hover{
    background-color: #99e7cd;
    transition: 0.4s ease;
    cursor: pointer;
    letter-spacing: 1px;
    
}


.res{
    text-decoration: none;
    color: #222020;
}
.seccion{
    display: flex;
    margin-top: 10rem;
    background-color: #40E3AD;
    padding: 5rem;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 90%;
    border-top-left-radius: 200%;
    border-top-right-radius: 800%;
}

.chicas{
    width: 60rem;
    margin-right: 3rem;
    
}

.parrafo{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    color: #222020;
}

.footer{
    background-color: #222020;
    height: 10rem;
    margin-top: 10rem;
}

.tarjetas{
    display: flex;
    gap:10px;
    justify-content: center;
    padding-top: 5rem;
    
    
}

.imagen{
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    transition: 300ms ease-in-out;   
}
.imagen + .imagen{
    margin-left: -10%;
}
.imagen:hover{
    transform: rotate(-4deg);
    transition: 0.3s ease;
    cursor: pointer;

}
.imagen:hover ~ .imagen{
    z-index: 1;
    translate: 120px;
   
}

.formulario{
    margin-top: -20rem;
    background-color: #17523e;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 12px rgb(0, 0, 0);
}
.campo{
    margin: 2rem;
    display: flex;
}

.label{
    font-family: var(--fuenteLogo);
    font-size: 2rem;
    color: cornflowerblue;
    flex: 0 0 9rem;
    text-align: right;
}
.input{
    flex: 1;
    margin: 0 1rem;
    border-radius: 4px;
    border: 1px solid rgb(224, 224, 224);
    height: 3rem;
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
    color: #222020;
}
.t-formulario{
    font-size: 3rem;
    font-family: var(--fuenteSecundaria);
    color: var(--colorPrincipal);
    text-align: center;
}
.submit{
    display: block;
    text-align: center;
    margin-top: 4rem;
}

.enviar{
    font-size: 2rem;
    background-color: #40E3AD;
    color: #222020;
    font-family: var(--fuentePrincipal);
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 12px rgb(20, 20, 20);
    
}
.enviar:hover{
    background-color: #F3BE45;
    transition: 0.3s ease;
    cursor: pointer;
    letter-spacing: 1px;
}
.input ::placeholder{
    color: #F3BE45;
}
::placeholder{
    font-size: 1.5rem;
}

.correcto{
    background-color: greenyellow;
    font-size: 1.5rem;
    font-family: var(--fuenteLogo);
    text-align: center;
    border-radius: 3px;
    padding: 1rem;
}
.incorrecto{
    background-color: rgb(241, 97, 97);
    font-size: 1.5rem;
    font-family: var(--fuenteLogo);
    text-align: center;
    border-radius: 3px;
    padding: 1rem;
}